html {
  --main-color: #388e3c;
  --light-main-color: #6abf69;
  --dark-main-color: #00600f;

  --accent-color: #ff6f00;
  --light-accent-color: #ffa040;
  --dark-accent-color: #c43e00;

  --light-color: #eeeeee;
  --dark-color: #757575;
  --light-dark-color: #8d8d8d;

  --shadow-color: #c3c3c3;

  --button-border-radius: 2rem;

  --header-item-font-family-1: "Indie Flower", cursive;
  --header-item-font-family-2: "Righteous", cursive;
  --header-item-font-size: 1.2rem;

  font-size: 16px;
}

aside#moreSideDrawer {
  font-family: var(--header-item-font-family-1);
  font-size: var(--header-item-font-size);
}
